<%= simple_form_for(@medical_record) do |f| %>
  <div class="col-11 no-padding ml-4">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row mb-4">
          <div class="col-md-12">
            <%= f.association :pet, input_html: { class: 'form-control' } %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row mb-4">
          <div class="col-md-12">
            <%= f.input :patient_symptoms, as: :string, input_html: { class: 'form-control' } %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group row mb-4">
          <div class="col-md-12">
            <%= f.input :treatment, as: :string,
                        input_html: { class: 'form-control money' } %>
          </div>
        </div>
      </div>
    </div><br><br>
    <div class="box-footer">
      <%= f.button :submit, 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Voltar', pets_path, class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>
